.wrapper{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin-top: 15vh;
}

.h1{
    font-size: 54px;
    margin-bottom: 10vh;
}

.images{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.item1 {
    width: 752px;
    height: 342px;
    border-radius: 14px;
    background-image: url("./assets/bussiness.png");
    text-align: center;
    padding-top: 280px;
    font-size: 24px;
    font-weight: 600;
  }
  
  .item2 {
    width: 358px;
    height: 342px;
    border-radius: 14px;
    background-image: url("./assets/partenship\ law.png");
    text-align: center;
    padding-top: 280px;
    font-size: 24px;
    font-weight: 600;
  }
  
  .item3 {
    width: 358px;
    height: 342px;
    border-radius: 14px;
    background-image: url("./assets/real\ estate\ law.png");
    text-align: center;
    padding-top: 280px;
    font-size: 24px;
    font-weight: 600;
  }
  
  .item4 {
    width: 752px;
    height: 342px;
    border-radius: 14px;
    background-image: url("./assets/bussiness.png");
    text-align: center;
    padding-top: 280px;
    font-size: 24px;
    font-weight: 600;
  }
  
  .item5 {
    width: 752px;
    height: 342px;
    border-radius: 14px;
    background-image: url("./assets//landlord.png");
    text-align: center;
    padding-top: 280px;
    font-size: 24px;
    font-weight: 600;
  }
  
  .item6 {
    width: 358px;
    height: 342px;
    border-radius: 14px;
    background-image: url("./assets/elder\ abuse.png");
    text-align: center;
    padding-top: 280px;
    font-size: 24px;
    font-weight: 600;
  }
  