.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-right: 100px;
}

.heading{
    text-align: start;
    margin-bottom: 30px;
}
.one {
    font-size: 66px;
    font-weight: 500;
    line-height: 97px;
}
.two {
    font-size: 66px;
    font-weight: 500;
    line-height: 97px;
}

.text{
    opacity: 30%;
    
}
.text p{
    font-size: 16px;
}



.emailWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 438px;
    height: 74px;
    border-radius: 43px;
    border: 1px solid var(--color-black);
    background-color: var(--color-secondary);
    margin-top: 7vh;
  }
  
  .emailWrapper > button {
    width: 137px;
    height: 62px;
    border-radius: 43px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    font-size: 16px;
    font-weight: 600;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .emailWrapper > input {
    background-color: var(--color-secondary);
    font-size: 16px;
    font-weight: 600;
    margin-right: 5px;
    border: none;
    color: var(--color-white);
    font-weight: 400;
  }
  
  .emailIcon {
    margin-left: 30px;
  }

.right{
    width: 50%;
    height: 550px;
    display: flex;
    flex-direction: column;
 }

.img2{
    position: absolute;
    width:443.51px;
    height:509.07px;
    top: 172px;
}

.img1{
    width:467px;
    height:467px;
    top: 249px;
    position: absolute;
}